/* .App {
  text-align: center;
} */

.heading {
  text-align: center;
}

.dropdown {
	margin-left: 4.5%;
}

.main_container {
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: first baseline;
	flex-wrap: wrap;
	gap: 2.5%;
}

.movie_wrapper {
	width: 30%;
}

.image_wrapper {
	position: relative;
	padding: 0;
	margin: 0;
}

.title {
	position: absolute;
	margin-top: 0;
	top: 0;
	left: 0;
	color: white;
	font-weight: 700;
	width: 100%;
	padding: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	font-size: 1.2rem;
}

.movie_wrapper figure {
	margin: 0;
}

.movie_wrapper figure figcaption {
	font-size: 1.25rem;
	font-weight: 700;
	background-color: white;
	padding-top: 8px;
}

.movie_wrapper figure img {
	width: 100%;
	height: auto;
}
