.App {
	background-color: #e5e4e2;
	background-color: #f5f5f5;
	min-height: 100vh;
	width: 100%;
}

.nav-bar {
	width: 100%;
	background-color: white;
}

.heading-home {
	padding: 1rem 0;
}

.heading-detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
	padding: 1rem 0;
}

.heading {
	margin-top: 0;
	font-size: 1.25rem;
	font-weight: 700;
	align-self: center;
	text-align: center;
	margin-bottom: 0;
}

.dropdown,
.search {
	margin: 1rem 5%;
}

.main_container {
	width: 90%;
	margin: auto;
	margin-top: 0.5rem;
}

.movie_wrapper {
	width: 100%;
	background-color: white;
	border-bottom: solid 1px #e5e4e2;
	min-height: fit-content;
	margin-bottom: 1rem;
}

.expanding {
	height: fit-content;
}

.image_wrapper {
	position: relative;
	padding: 0;
	margin: 0;
	text-emphasis: none;
	text-decoration: none;
}

.genre {
	margin-left: 8px;
	color: #c3073f;
	font-size: 1.1rem;
}

.strong {
	font-weight: 700;
	color:  #2A3439;
	color: #3B444B;
	font-size: 1.1rem;
}

.summary {
	padding: 0 8px 12px 8px;
	font-weight: 500;
	color: #3B444B;
}

.react-read-more-read-less {
	color:  #2A3439;
	color: #c3073f;
	font-weight: 600;
}

.title {
	position: absolute;
	margin-top: 0;
	top: 0;
	left: 0;
	color: white;
	font-weight: 500;
	width: 100%;
	padding: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	font-size: 1.2rem;
}

.movie_wrapper figure {
	margin: 0;
}

.movie_wrapper figure figcaption {
	font-size: 1.25rem;
	font-weight: 700;
	background-color: white;
	padding-top: 8px;
}

.movie_wrapper figure img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

/* Movie detail */
.detail-title {
	margin-left: 5%;
	font-size: 1.25rem;
}

.movie-detail {
	width: 90%;
	margin: auto;
	padding-bottom: 4rem;
}

.detail-image_wrapper {
	width: 100%;
}

.detail-image,
.detail-image_wrapper figure {
	width: 100%;
	height: auto;
	margin: auto;
}

.detail-image_wrapper figure {
	margin-bottom: 0.5rem;
}

.detail-genre {
	margin-bottom: 1rem;
}

.back-link {
	text-decoration: none;
	background-color: #c3073f;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}

.d-none {
	display: none;
}

@media only screen and (min-width: 1068px) {
	.movie-detail {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;
	}

	/* .detail-image_wrapper {
		width: 60%;
	} */
}

@media only screen and (min-width: 668px) {
	.main_container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		margin-top: 1.5rem;
	}

	.heading {
		text-align: center;
		font-size: 2rem;
	}

	.search,
	.dropdown {
		margin: 0;
	}

	.filters {
		width: 90%;
		margin: 2rem auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.movie_wrapper {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 1348px) {
	.main_container {
		width: 95%;
		grid-template-columns: repeat(3, 1fr);
	}

	.filters {
		width: 95%;
	}
}
